extends _tabs.pug

block tab-content
  .mortgage.active
    h2.methods-block__title.methods-block__title_border
      | Получите рассчёт ежемесячного платежа во всех банках-партнёрах по ипотеке
    .brands
      ul.brands__list
        li.brands__item
          img.brands__img(src="/img/sberbank@1x.png")
        li.brands__item
          img.brands__img(src="/img/vtb@1x.png")
        li.brands__item
          img.brands__img(src="/img/mosbank@1x.png")
        li.brands__item
          img.brands__img(src="/img/centrinvest@1x.png")
        li.brands__item
          img.brands__img(src="/img/vozrozhdenie@1x.png")
        li.brands__item
          img.brands__img(src="/img/akbars@1x.png")
        li.brands__item
          img.brands__img(src="/img/rosselhoz@1x.png")
        li.brands__item
          img.brands__img(src="/img/uralsib@1x.png")

    form.everymonth-pay(id="ipoteka" action="email.php" role="form" method="post")
      .everymonth-pay__inputs
        select.everymonth-pay__select(id='start-pay' name='startpay' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
          option(value='hide') Первоначальный взнос
          - var ipoteks = ['200 000', '300 000', '400 000', '500 000', '600 000', '700 000', '800 000', '1000 000', '1200 000', '1500 000']
          each ipot in ipoteks
            option(value= ipot)= ipot
        select.everymonth-pay__select(id='type-home' name='typehome' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
          option(value='hide') Тип квартиры
          - var types = ['1 комнатная', '2 комнатная', '3 комнатная', '4 комнатная', 'пентхаус']
          each type in types
            option(value= type)= type
        select.everymonth-pay__select(id='time-limit' name='timelimit' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
          option(value='hide') На срок
          - var entity = ['5 лет', '6 лет', '7 лет', '8 лет', '9 лет', '10 лет', '15 лет', '20 лет', '25 лет', '30 лет']
          each ent in entity
            option(value= ent)= ent
        input.everymonth-pay__input(name="name" placeholder="Ваше имя" type="text")
        input.everymonth-pay__input(name="tel" placeholder="Ваш телефон" type="tel")
      input.everymonth-pay__btn(name="" value="Узнать ежемесячный платёж" type="submit")
  .mortgage
    h2.methods-block__title
      | Получите рассчёт ежемесячного платежа по рассрочке
    form.everymonth-pay(id="rass" action="email.php" role="form" method="post")
      .everymonth-pay__inputs
        select.everymonth-pay__select(id='start-pay' name='startpay' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
          option(value='hide') Первоначальный взнос
          - var ipoteks = ['200 000', '300 000', '400 000', '500 000', '600 000', '700 000', '800 000', '1000 000', '1200 000', '1500 000']
          each ipot in ipoteks
            option(value= ipot)= ipot
        select.everymonth-pay__select(id='type-home' name='typehome' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
          option(value='hide') Тип квартиры
          - var types = ['1 комнатная', '2 комнатная', '3 комнатная', '4 комнатная', 'пентхаус']
          each type in types
            option(value= type)= type
        select.everymonth-pay__select(id='time-limit' name='timelimit' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
          option(value='hide') На срок
          - var entity = ['6 мес.', '9 мес.', '12 мес.', '15 мес.', '18 мес.', '21 мес.', '24 мес.']
          each ent in entity
            option(value= ent)= ent
        input.everymonth-pay__input(name="name" placeholder="Ваше имя" type="text")
        input.everymonth-pay__input(name="tel" placeholder="Ваш телефон" type="text")
      input.everymonth-pay__btn(name="" value="Узнать ежемесячный платёж" type="submit")
  .mortgage
    h2.methods-block__title
      | Узнайте, как воспользоваться материнским капиталом
    form.everymonth-pay(id="mat-kap" action="email.php" role="form" method="post")
      .everymonth-pay__inputs
        input.everymonth-pay__input(name="name" placeholder="Ваше имя" type="text")
        input.everymonth-pay__input(name="tel" placeholder="Ваш телефон" type="text")
      input.everymonth-pay__btn(name="" value="Получить консультацию" type="submit")